.App {
  text-align: center;
  height: 100vh;
}

.themeDark {
  background-color: black !important;
  border-color: #434952 !important;
  color: white !important;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 3vmin);
  background-color: #2790e5;
  margin-bottom: 12px;
  color: white;
  padding-left: 20px;
}

.icon {
  margin-right: 24px;
  font-size: xx-large;
  cursor: pointer;
}
